
@{
    Layout = null;
    ViewModelMsgSearchUserLogReqeust condtion = ViewBag.condtion;
    string q = JsonConvert.SerializeObject(condtion);
    string pageId = ViewBag.pageId;
    List<VMComboBox> logType = SysHelp.getEnumList(typeof(SysUserLogType));
    string lt = JsonConvert.SerializeObject(logType);
}
<script>
    $(document).ready(function () {
        var grid = $("#@(pageId)grid");
        var request = $.parseJSON('@Html.Raw(q)');
        var logType = $.parseJSON('@Html.Raw(lt)');

        var query = $("#@(pageId)query");
        query.css("height", query.find("form").height() + 42);

        function loadGrid() {
            console.log(request);
            grid.datagrid("loading");
            $.post("/api/ApiSysMsg/searchUserLog", request, function (json) {
                grid.datagrid("loaded");
                console.log(json);
                gridLoadData(grid, json);
            });
        }

        grid.datagrid({
            fit: true,
            border: false,
            fitColumns: true,
            striped: true,
            pagination: true,
            rownumbers: false,
            pageNumber: request.page,
            pageSize: request.pageSize,
            singleSelect: true,
            idField: "Id",
            columns: [[
                {
                    field: 'Id', title: 'ID',
                },
                {
                    field: 'logType', title: '类型', align: 'center', formatter: function (value, row, index) {
                        return logType[value].text;
                    }
                },
                {
                    field: 'createdOn', title: '创建时间',
                    formatter: function (value, row, index) {
                        if (value != null) {
                            return new Date(value).Format("yyyy-MM-dd hh:mm");
                        }
                    }
                },
                {
                    field: 'userInfo', title: '用户', formatter: function (value, row, index) {
                        return value.showName;
                    }
                },
                {
                    field: 'message', title: '消息',
                },

                {
                    field: 'ip', title: 'IP地址',
                },
                {
                    field: 'device', title: '设备',
                }
            ]]
        });

        //翻页设置
        grid.datagrid('getPager').pagination({
            onSelectPage: function (pPageIndex, pPageSize) {
                request.page = pPageIndex;
                request.pageSize = pPageSize;
                loadGrid();
            }
        });

        loadGrid();

        $("#@(pageId)selectType").combobox({
            valueField:"id",
            textField:"text",
            data: logType,
            editable:false
        });
        $("#@(pageId)selectuser").combobox({
            valueField: "loginName",
            textField: "fullName",
            panelHeight:"auto",
            onChange: function (newValue, oldValue) {
                suq.q = newValue;
                $("#@(pageId)selectuser").combobox("reload")
            },
            loader: function (p, success, error) {
                $.post("/api/ApiSysManagerUser/searchUserList", suq, function (json) {
                    success(json.result.rows);
                });
            }
        });

        $("#@(pageId)searchbtn").click(function () {
            var d = $("#@(pageId)searchform").serializeObject();
            request.page = 1;
            request.logType = d.logType;
            loadGrid();
            grid.datagrid('getPager').pagination({
                pageNumber: 1
            });
        });
        $("#@(pageId)clearsearchbtn").click(function () {
            $("#@(pageId)searchform").form("clear");
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true">

    <div id="@(pageId)query" data-options="region:'north',border:false,title:'查询栏',split:false,iconCls:'icon-search'" style="padding:5px; background:#fdfdfd;">
        <form id="@(pageId)searchform">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>类型:</td>
                                <td><select class="easyui-combobox" id="@(pageId)selectType" name="logType" panelHeight="auto" style="width:100px"></select></td>
                            </tr>
                        </table>
                    </td>
                    <td><a href="#" class="easyui-linkbutton" iconCls="icon-search" id="@(pageId)searchbtn">查询</a></td>
                    <td><a href="#" class="easyui-linkbutton" iconCls="icon-clear" id="@(pageId)clearsearchbtn">清空查询栏</a></td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center',border:false">
        <table id="@(pageId)grid"></table>
    </div>
</div>
